*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.kotlin
local.properties
/magisk/Cerberus.zip
/magisk/cerberus-UI.apk
/magisk/cerberusd
daemon_context.txt
local.properties
daemon.py
collo.py
tree.py
project_context.txt
app/release/*
magisk/magisk.zip
magisk/system/bin/cerberusd
magisk/system/Cerberus-UI/Cerberus-UI.apk
hs_err_*.log
replay_*.log
